@model IEnumerable<HomeworkHub2.Models.Homework>

@{
    ViewData["Title"] = "Index";
}

<h1>Homework</h1>


<a asp-action="Create">Add homework</a>


<table class="table">
    <thead>
        <tr>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.IsGraded)
            </th>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Solution)
            </th>
             <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                <p style="color:white;">@Html.DisplayNameFor(model => model.Assignment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Grade)
                       
                </td>

                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.IsGraded)
                       
                </td>

                <td>
                    @* <div class="solution">
                        <img src="@item.Solution" alt="Image" style=" max-width: 250px; max-height: 300px;" />
                    </div> *@
                    <div class="solution">
                        <a href="@item.Solution" target="_blank">View Solution</a>
                    </div>
                </td>
                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Student.FirstName)

                </td>
                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Assignment.Name)

                </td>


                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {

                }
            </tr>
        }
    </tbody>
</table>
