@model IEnumerable<HomeworkHub2.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Assignments</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{

}

<table class="table">
    <thead>
        <tr>
            <th>
                <p style="color:white;">@Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th>
              @*   @if (User.IsInRole("Admin"))
                { *@
                <th>
                    <p style="color:white;"> @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    <p style="color:white;"> @Html.DisplayNameFor(model => model.Teacher)
                </th>
              @*   }
                else
                {
                } *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Name)
                        @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                </td>

                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Description)
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>

                <td>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.DeadLine)
                        @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                </td>
                <th>
                </th>

                <th>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                </th>
                <th>
                    <p style="color:white;">
                        @Html.DisplayFor(modelItem => item.Teacher.LastName)

                </th>

                @if (User.IsInRole("Admin"))
                {
                   
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {

                }
            </tr>
        }
    </tbody>
</table>
